<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.logilite.dms.fileuploader.form.DMSFileUploaderForm"
         name="com.logilite.dms.fileuploader.form.DMSFileUploaderForm"
         point="org.adempiere.webui.Form">
      <form
            class="com.logilite.dms.fileuploader.form.DMSFileUploaderForm">
      </form>
   </extension>

</plugin>
